.main {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100vh;
}

.main__containermain--header nav {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  align-items: center;
}
.main__containermain--header nav img {
  width: 50px;
  height: 20px;
  background: red;
}

.main__containermain--seccion1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}
.main__containermain--seccion1 img {
  width: 100%;
  height: 100px;
}

.main__containermain--seccion2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}

.main__containermain--seccion2--card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
}
.main__containermain--seccion2--card img {
  width: 30px;
  height: 30px;
  background: #000;
}

.main__containermain--seccion3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  justify-items: start;
}
.main__containermain--seccion3 img {
  width: 100%;
  height: 100px;
}

.main__containermain--seccion4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

.main__containermain--seccion4--comments img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
}

.main__containermain--seccion5--form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}
.main__containermain--seccion5--form form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
}

.main__containermain--seccion6--contact {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
}
.main__containermain--seccion6--contact img {
  width: 30px;
  height: 30px;
  grid-row: 1/2;
  grid-column: 1/3;
  background: #000;
}
.main__containermain--seccion6--contact div:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}
.main__containermain--seccion6--contact div:nth-child(2) img {
  width: 30px;
  height: 30px;
  grid-column: 1/2;
}
.main__containermain--seccion6--contact div:nth-child(2) p {
  grid-column: 2/3;
}
.main__containermain--seccion6--contact div:nth-child(3) {
  grid-row: 3/4;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}
.main__containermain--seccion6--contact div:nth-child(4) {
  grid-row: 4/5;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}
.main__containermain--seccion6--contact div:nth-child(5) {
  grid-row: 5/6;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
}

.containerFooter {
  display: grid;
  justify-items: center;
  background: #000;
  width: 100%;
}
.containerFooter h3 {
  color: #fff;
  text-align: center;
}
.containerFooter a {
  color: #FF3F00;
  text-transform: capitalize;
  text-decoration: none;
}
.containerFooter a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
  .main {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100vh;
  }

  .main__containermain--header nav {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    align-items: center;
  }
  .main__containermain--header nav img {
    width: 50px;
    height: 20px;
    background: red;
  }

  .main__containermain--seccion1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  .main__containermain--seccion1 img {
    width: 100%;
    height: 100px;
  }

  .main__containermain--seccion2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .main__containermain--seccion2--card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
  }
  .main__containermain--seccion2--card img {
    width: 30px;
    height: 30px;
    background: #000;
  }

  .main__containermain--seccion3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: start;
  }
  .main__containermain--seccion3 img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/4;
  }
  .main__containermain--seccion3 h2, .main__containermain--seccion3 p, .main__containermain--seccion3 a {
    grid-column: 2/3;
  }
  .main__containermain--seccion3 h2 {
    grid-row: 1/2;
  }
  .main__containermain--seccion3 p {
    grid-row: 2/3;
  }
  .main__containermain--seccion3 a {
    grid-row: 3/4;
  }

  .main__containermain--seccion4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .main__containermain--seccion4--comments img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
  }

  .main__containermain--seccion5--form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .main__containermain--seccion5--form form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr;
    justify-items: center;
  }

  .main__containermain--seccion6--contact {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
  }
  .main__containermain--seccion6--contact img {
    width: 30px;
    height: 30px;
    grid-column: 1/6;
    grid-row: 1/2;
    background: #000;
  }
  .main__containermain--seccion6--contact div:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  .main__containermain--seccion6--contact div:nth-child(2) img {
    width: 30px;
    height: 30px;
    grid-column: 1/2;
  }
  .main__containermain--seccion6--contact div:nth-child(2) img p {
    grid-column: 2/3;
  }
  .main__containermain--seccion6--contact div:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  .main__containermain--seccion6--contact div:nth-child(4) {
    grid-row: 2/3;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .main__containermain--seccion6--contact div:nth-child(5) {
    grid-row: 2/3;
    grid-column: 4/5;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
  }
}/*# sourceMappingURL=styles.css.map */